.container {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.form-container {
  max-width: 500px;
  margin: auto;
}

@media (max-width: 600px) {
  .form-container {
    padding: 10px;
  }

  input, textarea, button {
    width: 100%;
  }
}
